/* General Reset */
* {
  margin: 0;
  padding: 0;
}



body {
  background-color: #0a1d34;
  min-width: 350px;

}
.active {
  color: Red !important;
  background-color: transparent !important;
}


/* Navbar */
.navbar {
  background-color: #0b1828 !important;
}

.nav-item {
  font-weight: 600;
  
}

.img_1 img {
  margin-right: 23px;
  width: 50px;
  height: 40px;
}


.input-group .form-control {
  width: auto;
}

/* Hero Area */
.hero_area {
  background-image: url('img/card 1 song/pexels-pixabay-210766.jpg');
  height: 500px;
  background-position: 35% 99%;
  background-size: cover;
  background-color: #052750;
}

/* Small Song Item */
.m-2 {
  font-size: 11px;
  
}

.song-small {
  background-color: #052750;
  background: linear-gradient(90deg, rgba(4, 2, 32, 0.99) 7%, rgba(5, 39, 80, 0.97) 66%, rgba(5, 54, 95, 0) 100%);
  transition: all 0.3s ease;
  height: 60px;
}

.song-small:hover {
  border: 1px solid gray;
  transform: translateY(-3px);
}

.rounded {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

/* Card Section */
p {
  margin-top: -6px !important;
  font-size: xx-small;
  /* text-align: center; */
    
}
small {
  font-size: .875em;
  opacity: .5;
}



.card {
  background-color: transparent;
  color: aliceblue;

 
}


.song-category-title {
  color: #2cc8e5;
}

.song-category-title::after {
  content: '';
  background-color: #2cc8e5;
  height: 3px;
  display: block;
  margin-top: 15px;
  background: linear-gradient(90deg, rgba(4, 2, 32, 0.05) 5%, rgba(5, 28, 65, 1) 17%, rgba(5, 39, 80, 0.97) 76%, rgba(5, 38, 78, 0.75) 80%, rgba(44, 200, 229, 0) 100%);
}

.card-img {
  transition: 0.6s;
  opacity: 1;
  background-color: #052750;
}

.card-img:hover {
  opacity: 0.7;
  transform: translateY(-10px);
}

/* Footer */
.contact-us ul, .col ul {
  list-style: none;
  padding: 0;
}

.contact-us ul li a, .col a {
  text-decoration: none;
  color: rgb(156, 151, 151);
  transition: all 0.3s ease;
}

.contact-us ul li a:hover, .col a:hover {
  color: aliceblue;
  transform: translateX(10px);
}

.col a:hover {
  padding-left: 15px;
}

.col p {
  opacity: 0.5;
}

h5 {
  margin: 35px 0 25px;
}

span {
  color: greenyellow;
}

.footer {
  background-color: #0b1828;
  padding: 56px;
}

.row {
  margin-top: 3rem;
}

/* Media Queries */
@media(max-width: 500px) {
  .card {
    margin: 24px;
    display: contents;
  
  }
  .mb-3 {
    margin-bottom: 1rem !important;
    font-size: 15px;
  }
  .song-small:hover {
    border: 1px solid gray;
    transform: translateY(-3px);
  }
  
  .nav-pills .nav-link {
    background: 0 0;
    border: 0;
    border-radius: var(--bs-nav-pills-border-radius);
    font-size: 15px;
  }

  .d-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-img:hover {
    transform: translateX(3px);
  }

  .card-body p {
    margin-top: -16px !important;
    font-size: xx-small;
  }
}

@media (max-width: 848px) {
  .card {
    margin: 24px;
    display: flex;
    flex-basis: calc(60% - 34px);
    flex-direction: column;
  }
 

  .d-flex {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (max-width: 839px) {
  .d-flex {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .card-img:hover {
    transform: translateX(3px);
    
  }
  .card-img:hover::after {
    transform: translateZ(1px);
  }

  .card-body p {
    margin-top: -15px !important;
  }
  @media only screen and (max-width: 800px) {
    .song-small .w-50 {
      width: 106% !important;
    }
    .col-5 {
        width: 44.6666% !important;
        flex: 0 0 auto;
    }
  }
}
@media only screen and (max-width: 360px) {
  .song-small .w-50 {
    width: 110% !important;
  }
  .col-5 {
      width: 44.6666% !important;
      flex: 0 0 auto;
  }
}
